.footer-container {
  @apply bg-gradient-to-r from-gray-800 to-gray-900 text-gray-300 flex justify-center px-8;
  display: flex;
  justify-content: center;
  padding: 0 2rem; // Añade padding a los lados
}

.footer-content {
  @apply max-w-6xl w-full;
  width: 100%;
}

.footer-heading {
  @apply text-xl font-semibold mb-4 text-white;
}

.footer-link {
  @apply flex items-center gap-2 hover:text-blue-400 transition-colors duration-300;
}

.grid-center {
  @apply flex justify-center;
}

.justify-left {
  @apply text-left;
}
