.footer-container {
  @apply bg-gradient-to-r from-gray-800 to-gray-900 text-gray-300;
  display: flex;
  justify-content: center;
  padding: 0 2rem; // Añade padding a los lados
}

.footer-content {
  max-width: 1200px; // Ancho máximo del contenido
  width: 100%;
}

.footer-heading {
  @apply text-xl font-semibold mb-4 text-white;
}

.footer-link {
  @apply flex items-center gap-2 hover:text-blue-400 transition-colors duration-300;
}

.grid-center {
  display: flex;
  justify-content: center;
}

.justify-left {
  text-align: left;
}
